{% extends "costcompare/base.html" %}
{% load static %}
{% load alignment_extras %}
{% block title %}{{phase_existing.slug}} to {{phase_proposed.slug}}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'css/map_style.css' %}">
{% endblock %}


{% block content %}

<div class="container-fluid fill">
  <div class="row fill">
    <div class="col-md-5">
      <h3>{{phase_existing.slug}} to {{phase_proposed.slug}}</h3>

      <table class="table table-hover">
        <tr><th></th><th>Incremental</th><th>Overall</th></tr>
        <tr>
          <td>Cost Estimate</td>
          <td>${{inc_cost|floatformat}}M</td>
          <td>${{pr_cost|floatformat}}M</td>
        </tr>
        <tr>
          <td>Improved Risk</td>
          <td>{{parc_inc_decr|floatformat:"0"}} parcels</td>
          <td>{{parc_pr_decr|floatformat:"0"}} parcels</td>
        </tr>
        <tr>
          <td>Eliminated Risk </td>
          <td>{{parc_inc_elim|floatformat:"0"}} parcels</td>
          <td>{{parc_pr_elim|floatformat:"0"}} parcels</td>
        </tr>
        <tr>
          <td>Increased Risk</td>
          <td>{{parc_inc_incr|floatformat:"0"}} parcels</td>
          <td>{{parc_pr_incr|floatformat:"0"}} parcels</td>
        </tr>
        <tr>
          <td>New Risk</td>
          <td>{{parc_inc_new|floatformat:"0"}} parcels</td>
          <td>{{parc_pr_new|floatformat:"0"}} parcels</td>
        </tr>
      </table>


      <div id="python-plot" class="responsive-plot"></div>


      {% if nxt_phases %}
      <h3>Next Phase Candidates</h3>
          <ul>
            {% for candidate in nxt_phases %}
            <li><a href="{% url 'phase_compare' alignmenta=phase_proposed alignmentb=candidate %}">{{candidate}}</a></li>
            {% endfor %}
          </ul>

      {% else %}
        <p>This is the fullest implementation</p>
      {% endif %}

    </div>
    <div class="col-md-7 fill">
      <div id="map_wrapper"></div>
    </div>
  </div>


</div>

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  data = {{geo_pr | safe}}
  data2 = {{geo_ex | safe}}

  //pull in data from python
  python_data = {{ figure | safe}};
  Plotly.newPlot("python-plot", python_data);

</script>
<script src="{% static 'js/map_creation.js' %}"></script>
{% endblock %}
